@font-face {
    font-family: FreakShow;
    src: url(Fontes/Carnevalee-Freakshow.ttf);
}

@font-face {
    font-family: Bronco;
    src: url(Fontes/Bronco.ttf);
}

:root {
    --cor-texto-destaque: #EFAC44;
    --cor-titulo: #EFBF94;
    --cor-texto-padrao: #FFFFFF;
    --cor-subtitulos: #5D3813;
    --cor-autor: #B7B9C3;

    --cinza-oficina: #383838;

    overflow-x: hidden;


    --tamanho-titulo-cidade: 7.5vw;
    --tamanho-nome-musica: 2.083vw;
    --tamanho-nome-autor: 1.25vw;
}


body {
    margin: 0 5.7vw;
    background-color: #0D0601;
}

circle, header svg{
    position: absolute;
    left: 0%;
}

circle {
    background: radial-gradient(#e66465, #9198e5);
    transform: translate(-10%, -12%);
    stroke-width: 3%;
    stroke-opacity: 15%;
    stroke: #0D0601;
    z-index: 12;
}

svg text {
    font-family: FreakShow, Arial, Helvetica, sans-serif;
    fill: white;
    font-size: 0.5rem;
}

header {
    transform: translateY(4rem);
    height: 40vw;
    background-image: url("../Imagens/Cranyon.jpg");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: content-box;
}

.cidades {
    
    display:flex;
    position: fixed;
    flex-direction: row-reverse;
    right: 5%;
    height: 30vw;
    width: 100%;
    gap: 7%;

    top: 22%;


    /* transform: translate(32%, 20%); */
}

.cidades div {
    display:block;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;

    width: fit-content;
    text-align: center;
    cursor: pointer;
}



.cidades h2 {
    margin: 0;
    color: var(--cor-texto-padrao);
    font-size: calc(var(--tamanho-nome-musica) + 1vw);
    font-family: FreakShow;
    font-weight: 100;
}

#cidade-sacramento {
    transform: translateY(25%);
}

#cidade-sacramento img {
    width: 20vw;
    transform: translate(-1%, -35%);
}

#cidade-tupaciguara img {
    height: auto;
    width: 7vw;
    box-shadow: 2px 4px 4px black;
}



#cidade-araguari img {
    height: auto;
    width: 12vw;
    filter: invert();
}

.ignore-margin {
    width: 100vw;
    transform: translateX(-5.7vw);
}

nav {
    padding-left:20vw;
    background-color:rgba(13, 6, 1, 0.15);
    scroll-behavior: auto;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav #pseudonav{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    text-align: right;
    align-items: center;
    position: sticky;
    padding: 1rem;
    
    
    justify-content: space-evenly;
}

nav div p {
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    color: var(--cor-texto-destaque);
    cursor: pointer;
    z-index: 99999;
}

#shotgun-tupaciguara {
    display:flex;
    position: relative;
    z-index: 2;
    bottom: -37vw;
    left:4vw;
    width: 26vw;
    height: auto;
    transform: rotateZ(6deg);
    transition: 0.6s;
}

#shotgun-tupaciguara:hover {
    transform: rotateZ(0deg)
}

#tupaciguara-titulo-pai {
    display:flex;
    position: relative;

    bottom: -27.8vw;
    transform:translateX(10vw);
    justify-content: center;
    font-size:var(--tamanho-titulo-cidade);
}

#tupaciguara-titulo-pai h2 {
    color: var(--cor-subtitulos);
    font-size: calc(var(--tamanho-titulo-cidade) - var(--tamanho-nome-musica) - 1.2vw);
    transform:translate(-19vw, 3vw);
    font-family: Bronco;
    font-weight: 50;

}

#tupaciguara-titulo-pai img {
    width: calc(var(--tamanho-titulo-cidade) - 4vw);
    height: fit-content;
    transform: translateY(1.3vw);
    box-shadow: 2px 4px 4px black;
}

.tupaciguara-titulo {
    font-size: inherit;
    font-family: FreakShow;
    font-weight: 50;
    color:var(--cor-texto-padrao);
    margin: 0;
    text-shadow: 2px 4px 4px black;
}

#stickers-tela {
    position: absolute;
}

#stickers-tela img {
    width: 10vw;
    height: auto;
}

#cartas {
    transform: translate(580%, 0%);
}

#dado {
    transform: translate(800%, 300%);
}

#chips-pokers {
    transform: translate(290%, -20%);
    z-index: 10;
    position: absolute;
    pointer-events: none;
}

.poster {
    width: fit-content;
    display:flex;
}
.poster img{
    width: 22vw;
    height: auto;
}

#tupaciguara {
    display:flex;
    z-index: 1;
}

#tupaciguara h2 {
    font-size: 5vw;
    color: var(--cor-texto-padrao);
    
}

#tupaciguara .musicas {
    margin-left: 4vw;
    margin-top: 5vw;
    display:grid;
    z-index: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 6vw;
    row-gap: 2vw;
}

#tupaciguara .musica {
    width: 25vw;
    height: fit-content;
    display:grid;
    grid-template-columns: 4vw 4vw 3fr;
    grid-template-rows: 4vw 4vw;

}

.imagem-musica {
    width: 8vw;
    height: auto;
    grid-area: 1 / 1 / 2 / 2;
}

.musica:hover .imagem-musica {
    opacity: 0.5;
}

.nome-musica {
    color: var(--cor-texto-padrao);
    font-family: Bronco;
    font-weight: 50;
    grid-row: 1;
    grid-column: 3;
    margin: 0;
    margin-top: auto;
    font-size: var(--tamanho-nome-musica);
    cursor: default;
}

.musica:hover .nome-musica {
    color: var(--cor-texto-destaque);
}

.autor-musica{
    color:var(--cor-autor);
    font-family: Bronco;
    grid-row: 2;
    grid-column: 3;
    margin: 0;
    font-size: var(--tamanho-nome-autor);
    cursor: default;
}

#sacramento {
    height: 60vw;
}

.sacramento-header {
    height: 15vw;
    margin-top: 10vw;
    background-image: url(../Imagens/Sacramento/sacramento-bg.jpg);
    background-size: cover;
    background-position-y: 86%;
    background-position-x: center;
    filter: grayscale();
}

.sacramento-header-titulo {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:var(--tamanho-titulo-cidade);
    transform: translate(7vw, 2.8vw);
}



.sacramento-header-titulo img {
    position: absolute;
    width: 20vw;
    height: fit-content;
    transform: translate(3vw, -1vw);
}

.sacramento-header-titulo .tupaciguara-titulo {
    transform: translateX(-40%);
}

.sacramento-header-titulo img + .tupaciguara-titulo {
    transform: translateX(-6vw);
}

.subtitulo-header {
    color: var(--cor-subtitulos);
    font-size: calc(var(--tamanho-titulo-cidade) - var(--tamanho-nome-musica) - 1.2vw);
    font-family: Bronco;
    font-weight: 50;
    text-align: center;   
    margin: 0;
}


#sacramento .musicas {
    display: grid;
    align-items: baseline;
    width: 100%;
    height: 50vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: calc(var(--tamanho-nome-musica) + 1vw) 1fr 1fr;
    row-gap: 2vw;
}

.subsubtitle {
    color: var(--cor-texto-destaque);
    font-family: Bronco;
    font-size: calc(var(--tamanho-nome-musica) + 1vw);
    margin: 1% 0;
}

.musica-sacramento {
    height: 20vw;
    width: 20vw;
}

.mid {
    justify-self: center;
}

.right {
    justify-self: right;
}


.araguari-header-titulo {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:var(--tamanho-titulo-cidade);
    height: 8vw;
    /* transform: translate(7vw, 2.8vw); */
    margin: 6vw 0 2vw 0;
    background-image: url(../Imagens/Araguari/background.jpg);
    background-position-y:40%;
    background-attachment: fixed;
    background-repeat: no-repeat;

    transition: 0.2ms all;

    filter: grayscale();
    padding: 2vw 0;
}

#araguari {
    margin-top: 2vw;
}

#araguari .body > img {
    width: 40vw;
    height: fit-content;
    margin-bottom: 2vw;
}

#araguari .body {
    display:flex;
}

#araguari > .araguari-header-titulo img {
    position: absolute;
    z-index: -1;
    justify-self: center;
    transform: translate(-3%, 5%);
    width: 50vw;
    height: auto;
}

#araguari > .subtitulo-header {
    transform: translate(-27%, -20%);
}

#araguari .musicas {
    margin-left: 5vw;
    display: grid;
    width: 100%;
    height: 100%;
    z-index: 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 2vw;
}

#araguari .musica {
    width: 25vw;
    height: fit-content;
    display:grid;
    grid-template-columns: 4vw 4vw 3fr;
    grid-template-rows: 4vw 4vw;
    column-gap: 0.5vw;

}

.oficina-header-titulo {
    position: sticky;
    height: fit-content;
    margin-top: 2vw;
    background-image: url(../Imagens/Oficina/madeir.png);
    background-size: cover;
    background-repeat: repeat-x;
    filter: grayscale();
    display: flex;
    justify-content: center;
    align-items: center;
}

#caveira-o {
    width: var(--tamanho-titulo-cidade);
    height: var(--tamanho-titulo-cidade);
}

#oficina .tupaciguara-titulo {
    font-size: var(--tamanho-titulo-cidade);
}

#rosalia {
    position: absolute;
    right: 5.7vw;
    width: 22.9vw;
    height: auto;
    filter: none;
    transform: translateY(-20%);
    z-index: 2;
    animation-name: swing-rosalia;
}

#aspinal {
    position: absolute;
    right: 5.7vw;
    width: 15vw;
    height: auto;
    filter: none;
    transform: translateY(90%);
    margin: 1.5vw;
}

#oficina .body {
    padding-top: 2%;
    box-sizing: border-box;
    height: fit-content;
    background: rgb(237,229,192);
    background: linear-gradient(45deg, rgba(237,229,192,1) 0%, rgba(227,218,177,1) 100%);
    display: flex;
    padding-bottom: 5vw;
    margin-bottom: 5vw;
}

#plantas-e-ervas h2 {
    font-family: FreakShow;
    font-size: var(--tamanho-nome-musica);
    color: #1C321A;
    margin: 0;
}

#plantas-e-ervas {
    display: flex;
    width: 30%;
    border-style: none solid solid none;
    font-family: Bronco;
    font-size: var(--tamanho-nome-autor);
    padding-left: 2vw;
    flex-wrap: nowrap;
    height: fit-content;
}

#plantas-e-ervas p.titulo {
    font-weight: 600;
    margin: 1vw 0 0 0;
}

#text-plantas {
    width: 50%;
    height: fit-content;
}

#plantas-e-ervas p {
    margin: 0;
    color: var(--cinza-oficina);
}

#plantas-e-ervas img {
    float:right;
    width: 15vw;
    height: 15vw;
    align-self: end;
}

#oficina .main-content {
    display: flex;
    width: 40vw;
    justify-content: left;
    flex-wrap: wrap;
}

#oficina .main-content > p {
    font-family: Bronco;
    margin: 0;
    margin-left: 7%;
    display: flex;
    height: fit-content;
    width: 40%;
    font-size: var(--tamanho-nome-autor);
}

.imagem-oficina {
    width: 14vw;
    height: 12vw;
    margin: 3%;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
    display: block;
}

#xarope {
    transform: translateY(100%);
}

#unguento {
    transform: translateY(-60%);
}

#unguento + p {
    transform: translate(-20%, -25%)
}

#clubdemorto {
    width: 50%;
    display: grid;
    color: black;
    grid-template-columns: 33% 33% max-content;
    grid-template-rows: max-content max-content 1fr;
    transform: translate(35%, -50%);
}

#clubdemorto .nome-musica {
    color: black;
    font-family: Bronco;
    font-weight: 50;
    margin: 0;
    margin-top: auto;
    font-size: calc(var(--tamanho-nome-musica) + 1vw);
    cursor: default;
}

#clubdemorto .nome-musica:nth-of-type(1) {
    grid-column: 2/4;
}

#clubdemorto .nome-musica:nth-of-type(2) {
    grid-column: 3;
    grid-row: 2;
}

#clubdemorto .nome-artista {
    font-family: Bronco;
    grid-column: 3;
    grid-row: 3;
}

#clubdemorto > iframe {
    grid-column: 1;
    grid-row: 2 / 4;
    width: 200%;
    height: 100%;
}

.nome-artista {
    color: var(--cinza-oficina);
    font-family: Bronco;
    font-size: var(--tamanho-nome-autor);
    margin: 0;
    height: fit-content;
}

#deadmensgun .nome-musica {
    color: black;
    font-family: Bronco;
    font-weight: 50;
    margin: 0;
    margin-top: auto;
    font-size: calc(var(--tamanho-nome-musica) + 1vw);
    cursor: default;
}

#deadmensgun iframe {
    width: 18vw;
}

#deadmensgun {
    transform: translateX(50%);
}

#revolver-oficina {
    width: 10vw;
    height:fit-content;
    transform: rotateZ(90deg) translate(5vw, -4vw);
    filter: grayscale();
}

#aquiettime {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(var(--tamanho-nome-musica) + 1vw) auto;
    left: 5.7vw;
    transform: translateY(43vw);
    padding-left: 4vw;
    width: max-content;
}

#aquiettime iframe {
    width: 10vw;
    height: 10vw;
}

#aquiettime .nome-musica {
    color: black;
    font-family: Bronco;
    font-weight: 50;
    margin: 0;
    height: fit-content;
    font-size: calc(var(--tamanho-nome-musica) + 1vw);
    cursor: default;
    grid-row: 1;
    grid-column: 2;
}

#aquiettime .nome-artista {
    grid-row: 2;
    grid-column: 2;
}

#jornal {
    background-image: url(../Imagens/Jornal/paper-background.png);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#jornal h1 {
    font-size: inherit;
    font-family: FreakShow;
    font-size: var(--tamanho-titulo-cidade);
    font-weight: 50;
    color:black;
    margin: 0;

}

#noticias {
    display:grid;
    width: 100%;
    height: max-content;
    height: 30vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2vw;
    row-gap: 2vw;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-bottom: 7vw;
    margin-bottom: 5vw;
}

#noticias * {
    opacity: 0.90;
}

.container {
    width: 50%;
    min-width: 10vw;
    min-height: 10vw;
    height: 100%;
    font-size: var(--tamanho-nome-autor);
}

.container:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
}

.container:nth-of-type(1) p{
    color: black;
    font-family: Bronco;
}

.container:nth-of-type(2) {
    grid-column: 1;
    grid-row: 2;
}


.container:nth-of-type(3) {
    grid-column: 2;
    grid-row: 1 / 3;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container:nth-of-type(3) img {
    width: 100%;
    height: 70%;
}

.bottom-text {
    font-family: Bronco;
    font-size: var(--tamanho-nome-autor);
    margin: 0;
}

#noticias .nome-musica {
    color: black;
}

#fin {
    color:black;
    display: flex;
    justify-content: center;
    gap:10vw;
    padding-bottom: 5vw;
    
}

#fin h3 {
    font-family: FreakShow;
    font-size: var(--tamanho-nome-musica);
}

#fin p {
    font-family: Bronco;
    font-size: var(--tamanho-nome-autor);
}

#fin * {
    margin: 0;
    opacity: 0.9;
}

#fin div {
    width: 30%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.imagem-velha {
    width: 100%;
    height: auto;
}

#fim {
    width: 100vw;
    transform: translateX(-5.7vw);
    font-weight: 1;
    height: 5vh;
    background-color: var(--cor-subtitulos);
    color: var(--cor-texto-destaque);
    font-family: FreakShow;
    text-align: center;
    word-spacing: 0.5rem;
}



/* Ajustes finais */

.musicas div:hover h3 {
    color: var(--cor-texto-destaque)
}

#oficina .body * {
    opacity: 0.9;   
}

#oficina .body iframe {
    opacity: 1;   
}

#fin img {
    filter: grayscale();
}

.poster {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: all 1ms;
    transform-origin: top;
    animation-timing-function: ease-in-out;
    animation-name: swing;
}

@keyframes swing {
    0% {
        transform: skew(0deg, 0deg);
    }
    25% {
        transform: skew(1deg, 1deg);
    }
    50% {
        transform: skew(0deg, 0deg);
    }
    75% {
        transform: skew(-1deg, -1deg);
    }
    100% {
        transform: skew(0deg, 0deg);
    }
}

@keyframes swing-rosalia {
    0% {
        transform: skew(0deg, 0deg) translateY(-20%);
    }
    25% {
        transform: skew(1deg, 1deg) translateY(-20%);
    }
    50% {
        transform: skew(0deg, 0deg) translateY(-20%);
    }
    75% {
        transform: skew(-1deg, -1deg) translateY(-20%);
    }
    100% {
        transform: skew(0deg, 0deg) translateY(-20%);
    }
}


#oficina img, #jornal img {
    pointer-events: none;
}